@model ControlCar.Models.Route

@{
    ViewData["Title"] = "Rota - Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Deseja realmente deletar a rota?</h3>
<div>
    <h4>Route</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destiny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destiny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KmPattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KmPattern)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRoute" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
