@model ControlCar.Models.Route

@{
    ViewData["Title"] = "Rota - Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Rota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destiny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destiny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KmPattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KmPattern)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdRoute">Editar</a> |
    <a asp-action="Index">Voltar para listagem</a>
</div>
