@model IEnumerable<ControlCar.Models.Route>

@{
    ViewData["Title"] = "Rotas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Criar Nova Rota</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destiny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KmPattern)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destiny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KmPattern)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRoute">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdRoute">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRoute">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
